.darkSquare, .lightSquare {
  width: 50px;
  height: 50px;
  font-size: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightSquare {
  background-color:antiquewhite;
  color: #222;
}

.darkSquare {
  background-color: #222;
  color:antiquewhite;
}

.chessboard {
  outline: 5px outset black;
  margin: 10px;
  width: 400px;
}

.boardRow {
  display: flex;
}