main {
  height: 100vh;
  width: 100vw;
  font-size: 1.8rem;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

header, footer {
  background-color: #222;
  color:antiquewhite;
  padding: 10px;
  text-align: center;
}

article {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(400px, 1fr));
  grid-template-rows: min-content min-content;
  gap: 10px;
}

.buttonbox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.buttonbox button {
  border: none;
  background-color: #222;
  color:antiquewhite;
  width: 300px;
  height: 100px;
  font-size: 2.4rem;
}

.buttonbox button:active {
  border: 3px solid #222;
  background-color: antiquewhite;
  color:#222;
}